<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 margin-t-20">
                <h4>Feuerwehr Löningen</h4>
                <!-- TODO Altes Logo -->
            </div>
            <div class="col-lg-4 margin-t-20">
                <h4>Kontakt</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li>Feuerwehr Löningen</li>
                        <li>Lindenallee 7</li>
                        <li>49624 Löningen</li>
                        <li>Deutschland</li>
                        <li>info@feuerwehr-loeningen.de</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <h4>Sitemap</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li><a href="">Startseite</a></li>
                        <li><a href="#">Kontaktiere uns</a></li>
                        <li><a routerLink="impressum">Impressum</a></li>
                        <li><a routerLink="datenschutz">Datenschutzerklärung</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->

<!--START FOOTER ALTER-->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left pull-none">
                    <p class="copy-rights text-muted mb-3 mb-sm-0">{{ curYear }} © freiwillige Feuerwehr Löningen</p>
                </div>
                <div class="float-right pull-none ">
                    <ul class="list-inline social m-0">
                        <li class="list-inline-item"><a href="https://www.facebook.com/Freiw-Feuerwehr-L%C3%B6ningen-206740772695997/" target="_blank" class="social-icon ml-1"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/feuerwehr.loeningen/" target="_blank" class="social-icon ml-1"><i class="mdi mdi-instagram"></i></a></li>

                        <!--
                            Other Socialmedia
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-dribbble"></i></a></li>
                        -->
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--START FOOTER ALTER-->