<section class="section" id="mannschaft">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center">Die Mannschaft</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                In Löningen engagieren sich immer mehr Bürger ehrenamtlich in der Freiwilligen Feuerwehr.
                Ein großer Teil dieser Feuerwehrleute kommt aus unserer eigenen Jugendfeuerwehr, aber
                auch immer mehr Quereinsteiger finden den Weg zu uns und sind immer herzlich willkommen!
            </div>
        </div>
    <div class="margin-t-20 mb-4"></div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="team-box-no-border text-center ">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="/assets/images/about/mannschaft/mannschaft.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>