<div class="container top-padding-cause-nav">
    <div class="row justify-content-center my-5">
        <div class="col">
            <h1 class="section-title text-center">Förderverein</h1>
            <h3 class="section-sub-title text-center dobr">der Freiwillige Feuerwehr Löningen e.V.</h3>
            <div class="section-title-border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <p>
                Der Förderverein stellt sich die Aufgabe, das Feuerlöschwesen, die Kameradschaft, die
                Öffentlichkeitsarbeit
                und die Ausbildung der Feuerwehr Löningen zu fördern.
                <br>
                Darüber hinaus will der Förderverein die Feuerwehr Löningen bei der Anschaffung von
                Ausrüstungsgegenständen
                und Lehrmaterialien unterstützen, die nicht in den Bereich der gesetzlich vorgeschriebenen
                Mindestausstattung fallen. Ebenso soll die Jugendarbeit der Feuerwehr Löningen gefördert werden.
                <br>
                Der Förderverein verfolgt ausschließlich gemeinnützige Zwecke und arbeitet selbstlos.
                <br>
                Finanzielle Verpflichtungen, die vom Träger der Feuerwehr zu erbringen sind, werden <u>nicht</u> vom
                Förderverein übernommen!
                <br>
                Durch Ihre Spende unterstützen Sie die Ziele dieses Fördervereins!
                <br>
                Es sollen nur Anschaffungen getätigt werden, welche über die gesetzliche Normausstattung hinaus gehen
                und
                ohne Ihre Unterstützung nicht realisierbar wären.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 bg-light">
    <div class="row justify-content-center font-weight-bold font-serif font-size-larger font-italic text-center">
        <div class="col order-xs-1 order-md-1 text-xs-center text-md-right px-sm-0">
            <img src="" class="image-fluid" style="height: 150px; width: 150px;">
        </div>
        <div class="col order-xs-2 order-md-3  text-xs-center text-md-left px-sm-0">
            <img src="" class="image-fluid" style="height: 150px; width: 150px;">
        </div>
        <div class="col-lg-8 col-md-6 order-xs-3 order-md-2">
            <div class="row">
                <div class="col text-info">
                    Sie möchten uns helfen, diese Ziele umzusetzen und uns unterstützen?
                </div>
                <div class="w-100"></div>
                <div class="col text-info">
                    Nichts einfacher als das!
                </div>
                <div class="w-100"></div>
                <div class="col text-primary">
                    Der Förderverein der
                </div>
                <div class="w-100"></div>
                <div class="col text-primary">
                    Freiwilligen Feuerwehr Löningen e.V.
                </div>
                <div class="w-100"></div>
                <div class="col text-primary">
                    freut sich über jedes Mitglied und jede Spende!
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid py-2">
    <div class="row justify-content-center my-5">
        <div class="col">
            <h3 class="section-sub-title text-center">Die Ziele des Fördervereins:</h3>
            <div class="section-title-border"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-11 col-lg-8">
            <ul>
                <li>
                    Unterstützung der Ausbildung, Einsatzfähigkeit und Kameradschaft
                </li>
                <li>
                    Förderung der Jugendarbeit innerhalb der Jugendfeuerwehr Löningen
                </li>
                <li>
                    Interessierte für das Feuerwehrwesen in Löningen zu gewinnen
                </li>
                <li>
                    Förderung der dem Brandschutz dienenden Ausrüstung und Einrichtungen der Feuerwehr Löningen
                </li>
                <li>
                    u.s.w.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-2">
    <div class="row justify-content-center my-5">
        <div class="col">
            <h3 class="section-sub-title text-center">Beispiele hierfür sind:</h3>
            <div class="section-title-border"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-11 col-lg-8">
            <ul>
                <li>
                    Anschaffung von zusätzlicher Schutzausrüstung und Bekleidung, welche die Kameraden bei Ihren
                    Diensten und teils gefährlichen Einsätzen vor Schäden und Verletzungen schützt
                </li>
                <li>
                    Anschaffungen von zusätzlichem, technischem Gerät zur Verbesserung der Menschenrettung,
                    Hilfeleistung und Brandbekämpfung
                </li>
                <li>
                    Lehr-, Ausbildungs- und Anschauungsmaterial zur Ausbildung der Jugendfeuerwehr
                </li>
                <li>
                    Förderung der Öffentlichkeitsarbeit durch Beschaffung von Infomaterial
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid py-2 mb-5">
    <div class="row justify-content-center my-5">
        <div class="col">
            <h3 class="section-title text-center">Werde Mitglied</h3>
            <div class="section-title-border"></div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-sx-12 col-sm-10 col-md-6 col-xl-4 order-3 order-md-1 my-1">
            <div class="text-center pricing-box mt-0 pricing-box-uniform-height">
                <h4 class="text-uppercase">Kontakt Förderverein</h4>
                <span class="section-title dobr">1. Vorsitzender</span>
                <h4>StBM. Mario Radtke</h4>
                <div class="plan-features mt-4 ">
                    <p>Burgstraße 24</p>
                    <p>D - 49624 Löningen</p>
                    <p><b class="text-custom">Tel.</b> (05432) 809761</p>
                    <p><b class="text-custom">Mobil</b> 0175 8521502</p>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-sm-10 col-md-6 col-xl-4 order-1 order-md-2 my-1 ">
            <div class="text-center pricing-box bg-white price-active mt-0 pricing-box-uniform-height">
                <div class="ribbon-box"><span>populär</span></div>
                <h4 class="text-uppercase">Förderverein</h4>
                <h1 class="dobr">Mitglied werden</h1>
                <div class="plan-features mt-4 ">
                    <p>Werde ein festes Mitglied bei uns im Förderverein</p>
                    <p><a href="/assets/docs/foerderverein-mitglied-werden.pdf" target="pdf-frame _blank"
                            class="btn btn-custom waves-effect waves-light margin-t-30">Zum Anmeldeformular<i
                                class="mdi mdi-arrow-right"></i></a></p>
                </div>
            </div>
            <div class="placeholder-foerderverein"></div>
        </div>
        <div class="col-sx-12 col-sm-10 col-md-12 col-xl-4 order-2 order-md-3 my-1">
            <div class="text-center pricing-box mt-0 pricing-box-uniform-height">
                <h4 class="text-uppercase">Förderverein</h4>
                <span class="section-title dobr">Bank<wbr>verbindung</span>
                <h6 class="text-uppercase text-muted">Einmalige Spende</h6>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="plan-features">
                            <p><b class="text-custom">Bank</b> Volksbank e.G. Löningen</p>
                            <p><b class="text-custom">Empfänger</b> Förderverein der freiwilligen Feuerwehr Löningen</p>
                            <p><b class="text-custom">IBAN</b> DE58 2806 5061 0010 4280 00</p>
                            <p><b class="text-custom">BIC</b> GENODEF1LOG</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 mt-md-2">
                        <img src="assets/images/foerderverein/bankverbindung_qr.png" class="img-fluid" width="150px">
                        <h6 class="text-uppercase text-muted dobr">Einfach scannen. Einfach spenden.</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>