<section class="section" id="adaccard">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">ADAC Rettungskarte</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Moderne Autotechnik bietet mehr Sicherheit, erschwert aber teilweise die rasche Befreiung der Insassen. Wo 
                an der Karosserie Spreizer und Schere anzusetzen sind, welche Vorsichtsmaßnahmen nötig sind, 
                um Airbags nicht nachträglich auszulösen, ist den Einsatzkräften nicht immer bekannt. Für 
                schnellere Rettung sorgt die vom ADAC eingeführte und als Standard gesetzte Rettungskarte. Diese soll 
                einheitlich hinter der Fahrersonnenblende angebracht werden, bis flächendeckend in ganz Europa eine 
                elektronische Datenübermittlung an die Unfallstelle möglich ist.
            </div>
        </div>
        <div class="margin-t-20 mb-4"></div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col">
                        <ol>
                            <li>
                                Drucken Sie die Rettungskarte Ihres Fahrzeuges in Farbe aus, damit Problembereiche klar erkennbar sind (Wenn Sie Ihre 
                                Rettungskarte nicht selbst in Farbe ausdrucken können, hilft Ihnen Ihre ADAC Geschäftsstelle).
                            </li>
                            <li>
                                Prüfen Sie anhand der Typbezeichnung und dem Foto, ob die ausgedruckte Rettungskarte Ihrem Fahrzeug entspricht. 
                                Es wird immer die maximal mögliche Airbagausstattung dargestellt.
                            </li>
                            <li>
                                Befestigen Sie die Rettungskarte nur hinter der Fahrer-Sonnenblende, denn dieser Ort wurde für Rettungskräfte 
                                international kommunizert. Falten Sie sie vorher mit der bedruckten Seite nach innen, um ein Ausbleichen zu verhindern.
                            </li>
                            <li>
                                Aufkleber &bdquo;Rettungskarte im Fahrzeug&ldquo; am linken oberen oder unteren Rand der Windschutzscheibe anbringen. 
                                Den Aufkleber gibt es in jeder ADAC-Geschäftsstelle.
                            </li>
                        </ol>
                        (Quelle : ADAC)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Detaillierte Informationen und die Rettungskarte für Ihr Fahrzeug finden Sie auf den Seiten des ADAC unter 
                        folgendem Link:	<a href="http://www.rettungskarte.de/" target="_blank" class="read-btn">ADAC-Rettungskarte</a> 
                        (Es öffnet sich ein neues Fenster).
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-no-border text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="/assets/images/buergerinfo/rettungskarte/rettungskarte.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>