<section class="section-sm bg-law ">

    <div class="container bg-light" style="margin-top: 110px;">
        <span class="section-title">Impressum</span>

        <h3 class="h3">Herausgeber des Internetangebots</h3>
        <p>
            Freiwillige Feuerwehr Löningen<br>
            Lindenallee 7<br>
            49624 Löningen<br>
            Telefon: 05432 / 2498<br>
            E-Mail: info (at) feuerwehr-loeningen.de
        </p>

        <h3 class="h3">Verantwortlich</h3>
        <p>Mario Radtke, Stadtbrandmeister</p>

        <h3 class="h3">Recht am eigenen Bild</h3>
        <p>
            Auf dieser Webeite sind viele Bilder aus der Öffentlichkeit zu sehen. Sollte sich jemand auf diesen
            Bildern wieder finden ohne dies zu wollen, schreibt bitte eine Email und das Bild wird gelöscht bzw.
            verändert.
        </p>

        <h3 class="h3">Haftungsausschluss und Copyright</h3>
        <p>
            Die Internetseiten der Freiwilligen Feuerwehr Löningen bieten Ihnen eine Vielzahl von Informationen,
            die regelmäßig aktualisiert werden. Sie können unsere Informationen speichern und Verknüpfungen
            zu unseren Seiten einrichten. Bei Verlinkung von kommerziellen Anbietern müssen die Seiten der
            Freiwilligen Feuerwehr Löningen alleiniger Bestandteil des Navigator-Fensters sein. Die Informationen
            dürfen nicht verändert oder verfälscht werden.
        </p>

        <h3 class="h3">Urheberrecht</h3>
        <p>
            Soweit nicht anders angegeben, liegen die Rechte bei derFreiwilligen Feuerwehr Löningen. Wir weisen
            ausdrücklich auf die Verpflichtung zur Beachtung der Urheberrechte hin. Es ist untersagt, ohne
            weitere Absprachen mit der Freiwilligen Feuerwehr Löningen Texte, Bildmaterial (Logo, Wappen,
            Fotos, Grafiken) von den Seiten zur weiteren Verwendung herunterzuladen. Hiervon ausgenommen
            sind alle als solche gekennzeichneten Download-Angebote.
        </p>

        <h3 class="h3">Inhalt der eigenen Seiten</h3>
        <p>
            Trotz sorgfältiger Recherche können wir für die Inhalte auf unserer Homepage naturgemäß keine
            Haftung übernehmen. Dies gilt sowohl für die Aktualität als auch für die Vollständigkeit und die
            Qualität der Inhalte. Alle kostenfreien Angebote sind unverbindlich. Bitte haben Sie Verständnis dafür,
            dass wir uns vorbehalten müssen, jederzeit ohne vorherige Ankündigung das Angebot zu verändern,
            zu ergänzen, zu löschen oder die Veröffentlichung einzustellen.
        </p>

        <h3 class="h3">Links auf Web-Sites Dritter</h3>
        <p>
            Die veröffentlichten Links werden mit größtmöglicher Sorgfalt recherchiert und zusammengestellt. Wir
            haben keinen Einfluss auf die aktuelle und zukünftige Gestaltung und Inhalte der verlinkten Seiten.
            Die Freiwilligen Feuerwehr Löningen ist nicht für den Inhalt der verknüpften Seiten verantwortlich und
            macht sich den Inhalt nicht zu eigen. Für illegale, fehlerhafte oder unvollständige Inhalte sowie für
            Schäden, die durch die Nutzung oder Nichtnutzung der Informationen entstehen, haftet allein der
            Anbieter der Web-Site, auf die verwiesen wurde. Die Haftung desjenigen, der lediglich auf die
            Veröffentlichung durch einen Link hinweist, ist ausgeschlossen. Für fremde Hinweise ist die Redaktion
            nur dann verantwortlich, wenn sie von ihnen, d.h. auch von einem eventuellen rechtswidrigen bzw.
            strafbaren Inhalt, positive Kenntnis hat, und es technisch möglich und zumutbar ist, deren Nutzung zu
            verhindern.
        </p>
    </div>
</section>