<section class="section" id="kommando">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">Das Kommando</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Alle Mitglieder des Kommandos haben die Aufgabe, den Stadtbrandmeister bei der Führung der
                Feuerwehr zu unterstützen.
                Um diese Aufgabe effizient erfüllen zu können, finden in regelmäßigen Abständen Sitzungen
                statt. Hier werden zum Beispiel die Jahreshauptversammlung vorbereitet und wichtige
                organisatorische und personelle Angelegenheiten besprochen.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Einige Kommandomitglieder haben aber auch bei Einsätzen die Aufgabe, den Leiter der Feuerwehr oder
                dessen Vertreter zu unterstützen, indem sie einen bestimmten Einsatzabschnitt
                übernehmen oder aber auch Einsätze in eigener Verantwortung leiten.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Diese besondere Anforderung stellt der Stadtbrandmeister an seinen Stellvertreter und an seine
                beiden sogenannten „bestellten“, Gruppenführer. Jeder
                dieser Gruppenführer ist in seiner Eigenschaft gleichberechtigt, was bedeutet, dass es keine
                Rangfolge innerhalb dieses Personenkreises gibt.
                Zu ihren Aufgaben während der regulären Dienstversammlungen gehören auch die Fort-, Aus- und
                Weiterbildung der Kameraden, sowie das
                Vorbereiten von Übungsdiensten.
            </div>
            <div class="col-12">
                Unterstützend in Fragen der Unfallverhütung und Sicherheit an der Einsatz- oder Übungsstelle
                steht der Sicherheitsbeauftragte dem Stadtbrandmeister bei Übungen und
                Einsätzen beratend zur Seite.
            </div>
        </div>
        <div class="col-lg-8 col-md-10 col-xs-12 mx-auto">
            <div class="team-box-no-border text-center">
                <div class="team-wrapper">
                    <div class="team-member">
                        <img alt="" src="/assets/images/about/kommando/kommando.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">Personelle Aufteilung im Detail</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row margin-t-30">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Stadtbrandmeister</h4>
                    <div class="row">
                        <div class="col-12">
                            Mario Radke
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: mario-radke@web.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Erster Hauptbrandmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Stv. Stadtbrandmeister</h4>
                    <div class="row">
                        <div class="col-12">
                            Hartmut Schwarte
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: hartmut1406@gmail.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Hauptbrandmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Zugführer</h4>
                    <div class="row">
                        <div class="col-12">
                            Heiko Rolfes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: heikorolfes@hotmail.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Oberlöschmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Zugführer</h4>
                    <div class="row">
                        <div class="col-12">
                            Christian Purk
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: christianpurk@web.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Brandmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Gruppenführer</h4>
                    <div class="row">
                        <div class="col-12">
                            Markus Willen
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: markus.willen@ewetel.net
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Oberlöschmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Gruppenführer</h4>
                    <div class="row">
                        <div class="col-12">
                            Roman Friedrich
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: roman-friedrich@web.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Hauptlöschmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Kassenwart</h4>
                    <div class="row">
                        <div class="col-12">
                            Marco Wach
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: marco.wach@t-online.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Erster Hauptfeuerwehrmann
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Schriftführer</h4>
                    <div class="row">
                        <div class="col-12">
                            Steffen Övermeyer
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: steffen.oevermeyer@web.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Hauptfeuerwehrmann
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Jugendwart</h4>
                    <div class="row">
                        <div class="col-12">
                            Henning Ahrens
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Mail: henning.ahrens987@t-online.de
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: Löschmeister
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Gerätewart</h4>
                    <div class="row">
                        <div class="col-12">
                            Niklas Willen
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: XXXX
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="margin-t-30">
                    <h4 class="mt-3">Gerätewart</h4>
                    <div class="row">
                        <div class="col-12">
                            Julian Möller
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Dienstgrad: XXXX
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>