<section class="section justify-content-center" id="senioren">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">Alters- und Ehrenabteilung</h1>
                <div class="section-title-border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Alters- und Ehrenabteilung</b> – hinter diesen im Grunde nüchternen Dienstbezeichnungen verbirgt sich
                eine
                immer noch sehr rege und agile Truppe von Feuerwehrkameraden, die aufgrund
                des niedersächsischen Brandschutzgesetzes nach Vollendung des 63. Lebensjahres aus dem aktiven Dienst
                ausgeschieden sind, desweiteren aus Mitgliedern, die aus
                gesundheitlichen Gründen aus dem aktiven Dienst ausgeschieden sind und aus Personen, die den Brandschutz
                im
                außergewöhnlichen Umfang unterstützt haben.
            </div>
            <div class="col-12">
                Die Alters- und Ehrenabteilung der Freiwilligen Feuerwehr Löningen ist eine Abteilung innerhalb der
                Organisation
                der Feuerwehr. Sie wurde mit der Gründung 2015 ins Leben gerufen.
                Erster Präsident der Altersabteilung wurde der ehemalige stellv. Stadtbrandmeister Gerd Wendte.
            </div>
            <div class="col-12">
                Ohne Kameradschaft ist der Feuerwehrdienst undenkbar. Das ist keine Frage der Organisation, sondern der
                menschlichen Einstellung. Diese aber kann nicht schlagartig aufhören,
                wenn die Feuerwehrmänner mit 63 Jahren die gesetzliche Altersgrenze erreicht haben. Denn wir sind schon
                gemeinsam durch manches „Feuer“ gegangen.
            </div>
            <div class="col-12">
                Jeweils am <b>ersten Dienstag eines Monats um 18:00 Uhr</b> treffen sich die Kameraden im
                Gemeinschaftsraum im
                Feuerwehrhaus zum Dienst. Hierbei
                ist regelmäßig der Stadtbrandmeister oder sein Stellvertreter anzutreffen, die das Leben der Senioren in
                der
                Feuerwehr gerne begleiten.
            </div>
        </div>
        <div class="margin-t-20 mb-4"></div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="team-box-no-border text-center ">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="/assets/images/about/senioren/senioren.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-t-20 mb-4"></div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        Um den Zusammenhalt, den kameradschaftlichen Gemeinschaftsgedanken und die Freundschaft der
                        älteren
                        Kameraden
                        aufrechtzuerhalten, gibt es regelmäßig diese Zusammenkünfte.
                        Und wenn wir gebraucht werden, sind wir zur Stelle – man kann auf uns zählen.
                        <br>
                        Dieses findet auf verschiedene Art und Weise statt: Bei Veranstaltungen der eigenen Wehr,
                        Feuerwehrjubiläen oder
                        durch die Teilnahme am Altentreffen der Altersabteilung des
                        Landkreises Cloppenburg – hierbei wird die Kameradschaft zu den befreundeten Wehren
                        aufrechterhalten.
                    </div>
                    <div class="col-12">
                        Die jungen Feuerwehrleute haben keine Kontaktschwierigkeiten zu den älteren Kameraden. Auch
                        umgekehrt
                        gibt es
                        keine Berührungsängste, völlig normal ist es, dass man mit
                        gegenseitigem Respekt kameradschaftlich miteinander umgeht.
                    </div>
                    <div class="col-12">
                        Die Altersabteilung zählt zurzeit 16 Mitglieder im Alter von über 63 Jahren.
                    </div>
                    <div class="col-12">
                        Natürlich haben wir unsere inzwischen verstorbenen Kameraden nicht vergessen. Sie leben in
                        unserer
                        Erinnerung
                        weiter. Sowohl die Besuche bei erkrankten
                        Mitgliedern gehören zu den Betreuungspflichten als auch die Begleitung auf dem allerletzten Weg.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                Um den Zusammenhalt, den kameradschaftlichen Gemeinschaftsgedanken und die Freundschaft der älteren
                Kameraden
                aufrechtzuerhalten, gibt es regelmäßig diese Zusammenkünfte.
                Und wenn wir gebraucht werden, sind wir zur Stelle – man kann auf uns zählen.
                <br>
                Dieses findet auf verschiedene Art und Weise statt: Bei Veranstaltungen der eigenen Wehr,
                Feuerwehrjubiläen oder
                durch die Teilnahme am Altentreffen der Altersabteilung des
                Landkreises Cloppenburg – hierbei wird die Kameradschaft zu den befreundeten Wehren aufrechterhalten.
            </div>
            <div class="col-sm-10">
                Die jungen Feuerwehrleute haben keine Kontaktschwierigkeiten zu den älteren Kameraden. Auch umgekehrt
                gibt es
                keine Berührungsängste, völlig normal ist es, dass man mit
                gegenseitigem Respekt kameradschaftlich miteinander umgeht.
            </div>
            <div class="col-sm-10">
                Die Altersabteilung zählt zurzeit 16 Mitglieder im Alter von über 63 Jahren.
            </div>
            <div class="col-sm-10">
                Natürlich haben wir unsere inzwischen verstorbenen Kameraden nicht vergessen. Sie leben in unserer
                Erinnerung
                weiter. Sowohl die Besuche bei erkrankten
                Mitgliedern gehören zu den Betreuungspflichten als auch die Begleitung auf dem allerletzten Weg.
            </div>

        </div>

        <div class="margin-t-20 mb-4"></div>

        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="home-small-title text-center dobr">Verstorbene Kameraden</h1>
                <div class="section-title-border margin-t-20 mb-4"></div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Jahr</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Josef</td>
                            <td>Moorkamp</td>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td>Alois</td>
                            <td>Dopp</td>
                            <td>2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>