<section class="section" id="rauchmelder">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">Brandtote sind Rauchtote!</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12 mb-3">
                Jeden Monat verungl&uuml;cken rund 35 Menschen t&ouml;dlich durch Br&auml;nde, die meisten davon in den
                eigenen vier
                W&auml;nden. Die Mehrheit stirbt an einer Rauchvergiftung. Zwei Drittel aller Brandopfer werden nachts
                im Schlaf
                &uuml;berrascht.
            </div>
            <div class="col-md-10 col-sm-12 mb-3">
                Die j&auml;hrlichen Folgen in Deutschland: Rund 400 Brandtote, 4.000 Brandverletzte mit
                Langzeitsch&auml;den und &uuml;ber eine
                Mrd. Euro Brandsch&auml;den im Privatbereich. In den meisten Bundesl&auml;ndern ist daher die
                Installation von Rauchmeldern
                bereits gesetzlich vorgeschrieben.
            </div>
            <div class="col-md-10 col-sm-12 mb-3">
                Ursache f&uuml;r die etwa 200.000 Br&auml;nde im Jahr ist aber im Gegensatz zur landl&auml;ufigen
                Meinung nicht nur
                Fahrl&auml;ssigkeit: Sehr oft l&ouml;sen technische Defekte Br&auml;nde aus, die ohne vorsorgende
                Ma&szlig;nahmen wie Rauchmelder
                zur Katastrophe f&uuml;hren. Vor allem nachts werden Br&auml;nde in Privathaushalten zur t&ouml;dlichen
                Gefahr, wenn alle
                schlafen, denn im Schlaf riecht der Mensch nichts. T&ouml;dlich ist bei einem Brand in der Regel nicht
                das Feuer, sondern der
                Rauch.
                Bereits drei Atemz&uuml;ge hochgiftigen Brandrauchs k&ouml;nnen t&ouml;dlich sein, die Opfer werden im
                Schlaf bewusstlos
                und ersticken dann.
            </div>
            <div class="col-md-10 col-sm-12 mb-3">
                Da bereits das Einatmen einer Lungenf&uuml;llung mit Brandrauch t&ouml;dlich sein kann, ist ein
                Rauchmelder der beste
                Lebensretter in Ihrer Wohnung. Der laute Alarm des Rauchmelders warnt Sie auch im Schlaf rechtzeitig vor
                der Brandgefahr und
                gibt Ihnen den n&ouml;tigen Vorsprung, sich und Ihre Familie in Sicherheit zu bringen und die Feuerwehr
                zu alarmieren.
            </div>
            <div class="col-md-10 col-sm-12 mb-3">
                Zigarettenrauch l&ouml;st &uuml;brigens bei qualitativ hochwertigen Rauchmeldern keinen Alarm aus,
                solange die Zigarette nicht
                direkt unter den Rauchmelder gehalten wird.
            </div>
            <div class="col-md-10 col-sm-12">
                Quelle: <a href="www.rauchmelder-lebensretter.de" target="_blank"
                    class="read-btn">www.rauchmelder-lebensretter.de</a>
            </div>

        </div>
    </div>
</section>