<section class="section" id="case-emergency">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col">
                <h1 class="section-title text-center dobr">Was tun im Notfall?</h1>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row justify-content-center my-4">
            <div class="col-md-10 col-sm-12">
                Die Notrufnummer 112 gilt europaweit!<br>
                Die 112 ist mittlerweile in allen europ&auml;ischen Staaten die einheitliche Rufnummer f&uuml;r
                Notf&auml;lle. Ob
                Feuer in Deutschland oder ein Unfall in Italien: Der Notruf 112 ist in Europa der Draht zu schneller
                Hilfe und das
                nicht nur im Festnetz, sondern auch in allen Mobilfunknetzen.
            </div>
            <div class="col-md-10 col-sm-12">
                Bei einem Brand, Unfall oder lebensbedrohlichen Verletzungen wird man schnell unruhig und aufgeregt.
                Deshalb
                gilt es immer Ruhe zu bewahren, denn es muss ein eindeutiges und verst&auml;ndliches Hilfeersuchen
                &uuml;ber den
                Notruf abgesetzt werden.
            </div>

        </div>
        <div class="row justify-content-center my-2">
            <div class="col">
                <h3 class="section-sub-title text-center dobr">Die Leitstelle ben&ouml;tigt konkrete angaben:</h3>
                <div class="section-title-border"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-sm-12">
                <div class="team-box-no-border text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="/assets/images/buergerinfo/wfragen/5WFragen.jpg" class="img-fluid">
                        </div>
                    </div>
                    <p class="text-uppercase team-designation">Die 5-W-Fragen</p>
                </div>
            </div>
        </div>


    </div>
</section>